@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap');
  
html {
  font-family: 'Mountains of Christmas', cursive;
}

body 
{
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1.0);
}

.image
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height:300px;
  width: auto;
  height: auto;
  text-align: center;
}

#logo
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

body[data-tags~="Logo"] { 
  background-color: #FFFFFF;
}

body[data-tags~="COVER"] { 
  background-image: url("images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
tw-story[tags~="COVER"] {
  background-image: url("images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
tw-story[tags~="COVER"] {
  background-image: url("images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body[data-tags~="LRH"] { 
  background-image: url("images/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
tw-story[tags~="LRH"] {
  background-image: url("images/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body[data-tags~="PAW"] { 
  background-image: url("images/fence.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
tw-story[tags~="PAW"] {
  background-image: url("images/fence.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body[data-tags~="TLP"] { 
  background-image: url("images/pigs house.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
tw-story[tags~="TLP"] {
  background-image: url("images/pigs house.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

a:hover{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}